body{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
   /* background: red;
   background-position: center center;
   background-size: 100% 50%;
   background-repeat: no-repeat; */
}
h1 { /* SMall Title*/
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 18pt;
}
h3{
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 16pt;
  margin-top: 4%;
  margin-bottom: 1%;
}
h5{
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 15pt;
  margin-top: 3%;
  margin-bottom: 6%; 
}

#basic {
  margin-top: 7%;
  padding-bottom: 10px;
  margin-left:auto;
}
img{
    border-radius: 100%;
}
/* input{
    font-size: 20px;
} */
#alertsHeading{
    font-size: 25px;
    margin-bottom: 10px;
}
#first{
    font-size: 20px;
    border-right:  5px solid #3f4c6b;
    padding: 0px 15px 10px 15px;
    color: green;
}
#second{
    font-size: 20px;
    border-right:  5px solid #3f4c6b;
    padding: 0px 15px 10px 15px;
    color: green;
}
#third{
    color: red;
    font-size: 20px;
    padding: 10px 15px 0px 15px;
}
.alerts{
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px; /* 5px rounded corners */
    margin: 10px;
}
.paymentButton{
  font-size: 25px;
  color: white;
  background-color: #3f4c6b;
  padding: 14%;
}
button{ 
    border: none;
    width: 100%;
    text-align: bottom;
}

p.checking{
    display: inline-block;
}
#currentStat{
    margin-bottom: 20px;
}
.calendar{
    width: 100%;
    background-color: pink;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: bottom;
    padding: 20px;
}
