body{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 100%);
    background-repeat: no-repeat;
    background-size: 100% 25%;
    text-align: center;
}
.total{ 
  color:blue;
}
h1{
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 14pt;
    margin-top: 6%;
}
#expensetitle{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 15px 10px 15px;
}
#actname{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 15px 10px 15px;
}
#moneyamount{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 15px 0px 15px;
}
.color code{
  margin-top: 3%;
  margin-bottom: 6%; 
}
p{
    display:inline;
}
.first{ 
	border: 3px solid green;
}
.check{
  background: white;
	border-bottom: 3px solid green;
	border-left: 3px solid green;
	border-right: 3px solid green;
}
#showBox{
    background: #fafafb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* border-radius: 2px; */
    margin: 10px;
    margin-bottom: 5%;
}
#label{
    width: 88.2%;
    background-color: pink;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: bottom;
    padding: 20px;
}
#last{
	margin-bottom: 5px;
}

/*
 * Dot line up 
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: purple;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* Fill up */
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px black;
	transition: background 0.3s;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: purple;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}
#clicker{ 
  margin-bottom: 10px;
}